@import '/css/main.css';

.header-container {
    height: 4rem;
    width: 100%;
    background-color: var(--secondary-alert-bgcolor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo-icon {
    height: 4rem;
    width: 4rem;
}

.left-items,
.right-items {
    display: flex;

}

a {

    color: var(--dark-black-color);
    margin-left: 2rem;
}

.section-1-items {
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    height: 18rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.section-2-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18rem;
}

.text-content {
    height: auto;
    width:20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.code-box {
    height: 25rem;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.footer-items {

    height: 4rem;
    width: 100%;
    background-color: var(--secondary-alert-bgcolor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}

button {
    margin: 1rem;
    height: 3rem;
    width: 6rem;
    border: none;
    background-color: var( --shopping-card-button-bgcolor);
    color: var(--background-universal-color);
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}


h1 {
    margin-left: 1.2rem;
}