/* global css sheet for fonts and icons */
@import "/css/main.css";

/* global image HTML5 tag */
.image-item {
  width: 15rem;
  max-height: auto;
  max-width: auto;
  height: 15rem;
  margin: 1rem;
}
/* repsonsive class */
.responsive-image {
  max-width: 100%;
  height: auto;
}
/*  round image class tag*/
.round-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.circle-image {
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
}
