@import "/css/main.css";
.grid-50-50 {
  display: grid;
  grid-template-columns: 5fr 5fr;
  margin: 1rem;
}

.item1 {
  height: 2rem;
  width: auto;
  background-color: blue;
}

.item2 {
  height: 2rem;
  width: auto;
  background-color: rgb(255, 51, 0);
}
.grid-30-70 {
  display: grid;
  grid-template-columns: 3fr 7fr;
  margin: 1rem;
}
.grid-70-30 {
  display: grid;
  grid-template-columns: 7fr 3fr;
  margin: 1rem;
}
.grid-30-70::after {
  content: "30-70 grid";
}
.grid-50-50::after {
  content: "50-50 grid";
}
.grid-70-30::after {
  content: "70-30 grid";
}
