<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <div class="high-container">


   
    <h3>50:50 Grid example</h3>
    <div class="grid-50-50">
        <img src="/images/scorpio-sign.jpg" alt="">
        <img src="/images/scorpio-sign.jpg" alt="">
    </div>

    <h3>70:30 grid</h3>
    <div class="container-70-30">
        <div class="grid-container-70-30">
        <img src="/images/scorpio-jpg-500x500.jpg" alt="" class="image-1">
        <img src="/images/scorpio-jpg-500x500.jpg" alt="" class="image-2">
    </div>
</div>


<h3>30:70 grid</h3>
    <div class="container-30-70">
        <div class="grid-container-30-70">
        <img src="/images/scorpio-jpg-500x500.jpg" alt="" class="image-1">
        <img src="/images/scorpio-jpg-500x500.jpg" alt="" class="image-2">
    </div>
</div>

</div>

</body>
</html>