@import '/css/main.css';
/* @import '/components/Alerts/alerts.css' */

.header-container {
    height: 5rem;
    width: 100%;
    background: linear-gradient(to bottom right, #ebe9ec, #e96541);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  
}

.logo-icon {
    height: 7rem;
    width: 7rem;
}

.left-items,
.right-items {
    display: flex;
}

a {

    color: black;
    margin: 3rem;
}

#nav-bar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 100%;
    background-color: rgb(241, 229, 227);
    overflow: scroll;
    position: fixed;
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav-items {
    display: flex;
    margin: 2rem;
}

.content-container {
    display: grid;
    grid-template-columns: 15% auto;
}

li ,a {
    list-style: none;
    text-decoration: none;
}
.example-container{
    height: 18rem;
    width: 55rem;
    /* background-color: rebeccapurple; */
    margin: 2rem;
    top: 1rem;
    margin-left: 17rem;
    border: 2px solid black;

    display: flex; 
    justify-content: center;
     align-items: center;
     flex-direction: column;
}