@import '/css/main.css';
/* @import '/components/Alerts/alerts.css' */

.header-container {
    height: 5rem;
    width: 100%;
    background: linear-gradient(to bottom right, #e0e41f, #e93c1e);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;

}
body{
    max-width: 100%;
    max-height: 100%;
}


.logo-icon {
    height: 7rem;
    width: 7rem;
}

.left-items,
.right-items {
    display: flex;
}

a {

    color: black;
    margin: 3rem;
}

.nav-bar {

    align-items: center;
    height: 100%;
    background-color: rgb(241, 229, 227);
    overflow: scroll;
    position: fixed;
    display: inline-block;
    padding: 0px;

}

.nav-items {
    display: flex;
    justify-content: space-around;
    margin: 22px;
}

.content-container {
    display: grid;
    grid-template-columns: 15% auto;
    max-width: 100%;
    overflow: auto;
    grid-gap: 1rem;
    /* overflow: scroll; */
}


.example-container,.code-container {
    width: 96.5%;
    max-width: 100%;
    margin: 1rem 0rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.code-container{
    overflow: scroll;
    max-width: 100%;
    max-height: 15rem;
}

