/* global css file for fonts and icons  */
@import "/css/main.css";

.input__field {
  width: 20rem;
  height: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* html5 input type submit button */
input[type="submit"] {
  height: 2rem;
  width: 20rem;
  cursor: pointer;
  color: var(--avatar-background-color);
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="submit"]:hover {
  background-color: rgb(113, 216, 45);
}

input:invalid {
  border: 2px solid var(--red-color);
  background-color: var(--danger-alert-bgcolor);
}
input:valid {
  border: 2px solid var(--badge-notification-color);
  background-color: var(--button-font-color);
}
