/* global css file for fonts and icons  */
@import '/css/main.css';

/* input class main*/
.input-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem;
    padding: 1rem;
    height: auto;
    width: auto;
    background-color: var(--background-universal-color);

}

/* html5 input type submit button */
input[type='submit'] {
    height: 2rem;
    width: 5rem;
    cursor: pointer;
    color: white;
    margin: 1rem;
}

input + span {
    position: relative;
  }
  
  input + span::before {
    right: -20px;
    top: 5px;
  }
  
  input:invalid {
    border: 2px solid red;
    background-color: rgb(230, 235, 234);
  }
  input:valid{
      border: 2px solid rgb(30, 216, 101);
      background-color: rgb(247, 252, 251);
  }
  
  input:invalid + span::before {
    content: '✖';
    color: red;
    font-size: 1.5rem;
  }
  
  input:valid + span::before {
    content: '✓';
    color: green;
    font-size: 1.5rem;
  }
  



                                                                                                                                                                                                                                                                                                                                                      