<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input</title>
    <link rel="stylesheet" href="input.css" />
  </head>

  <body>
    <input
      class="input__field"
      type="text"
      id="name"
      name="name"
      value=""
      placeholder="Name"
      required
      autocomplete="off"
    />

    <input
      class="input__field"
      type="email"
      id="email"
      name="email"
      value=""
      placeholder="Email"
      required
      autocomplete="off"
    />

    <input
      class="input__field"
      type="tel"
      id="input-telnumber"
      name="input telnumber"
      inputmode="numeric"
      pattern="[0-9]*"
      autocomplete="one-time-code"
      placeholder="Phone Number"
      required
      autocomplete="off"
    />

    <input
      class="input__field"
      type="password"
      id="input-password"
      name="input password"
      placeholder="Password"
      required
      minlength="6"
      autocomplete="off"
    />

    <input
      class="input__field"
      type="submit"
      id="input-submit"
      name="input submit"
      required
      autocomplete="off"
    />
  </body>
</html>
