/* universal css sheet for fonts and colors */
@import "/css/main.css";

/* head button class */
.btn {
  height: 2rem;
  width: 6rem;
  margin: 0.2rem;
  border-radius: 0.4rem;
  color: var(--button-font-color);
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
  margin: 1rem;
}

/* solid head button class */
.btn-solid {
  height: 2rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: none;
}

/* outline button class */
.btn-outline {
  height: 2rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: none;
}

/* button with icon class */
.btn-with-icons {
  height: 2rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: none;
}

/* primary solid button class */
.btn-primary {
  background-color: var(--button-primary-color);
}

/* secondary solid button class */
.btn-secondary {
  background-color: var(--button-secondary-color);
}

/* success solid button class */
.btn-success {
  background-color: var(--button-success-color);
}

/* danger solid button class */
.btn-danger {
  background-color: var(--button-danger-color);
}

/* warning solid button class */
.btn-warning {
  background-color: var(--button-warning-color);
}

/* link solid button class */
.btn-link {
  text-decoration: none;
  font-size: 1.1rem;
}

/* hover uderline feature for link button */
.btn-link:hover {
  text-decoration: underline;
}

/* primary outline button class */
.btn-primary-outline {
  color: var(--button-primary-color);
}

/* primary outline button class hover background and main color */
.btn-primary-outline:hover {
  background-color: var(--button-primary-color);
  color: var(--button-font-color);
}

/* secondary outline button class */
.btn-secondary-outline {
  color: var(--button-secondary-color);
}

/* secondary outline button class hover background and main color */
.btn-secondary-outline:hover {
  background-color: var(--button-secondary-color);
  color: var(--button-font-color);
}

/*success outline button class */
.btn-success-outline {
  color: var(--button-success-color);
}

/* success outline button class hover background and main color */
.btn-success-outline:hover {
  background-color: var(--button-success-color);
  color: var(--button-font-color);
}

/*danger outline button class */
.btn-danger-outline {
  color: var(--button-danger-color);
}

/* danger outline button class hover background and main color */
.btn-danger-outline:hover {
  background-color: var(--button-danger-color);
  color: var(--button-font-color);
}

/*warning outline button class */
.btn-warning-outline {
  color: var(--button-warning-color);
}

/* warning outline button class hover background and main color */
.btn-warning-outline:hover {
  background-color: var(--button-warning-color);
  color: var(--button-font-color);
}

/* button with icon for primary class */
.btn-primary-icon {
  background-color: var(--shopping-button-color);
  color: var(--button-font-color);
}

/* button with icon for secondary class */
.btn-secondary-icon {
  background-color: var(--shopping-button-color);
  color: var(--button-font-color);
}

.icon {
  width: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
span.material-icons.buttonmi {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-lg-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 0.3rem;
  background-color: rgb(197, 7, 245);
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 700px) {
  .btn-solid {
    height: 3rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem;
    padding-left: 1rem;
    border: none;
  }
  .btn-solid::before {
    content: "Button Solid";
    color: black;
    margin-top: 4rem;
  }
  .btn-outline {
    height: 3rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem;
    padding-left: 1rem;
    border: none;
  }

  .btn-outline::before {
    content: "Button outline";
    color: black;
    margin-top: 8rem;
  }
  .btn-with-icons {
    height: 3rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem;
    padding-left: 1rem;
    border: none;
  }
  .btn-with-icons::before {
    content: "Button with Icon";
    color: black;
    margin-top: 6rem;
    padding-top: 4rem;
  }
}
