<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="avatar.css">
</head>

<body>
    <div class="container">
        <div class="avatar">

            <div class="avatar lg-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                    class="image-round image-responsive"> </div>
            <div class="avatar md-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                    class="image-round image-responsive"> </div>
            <div class="avatar sm-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                    class="image-round image-responsive"> </div>
            <div class="avatar xs-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                    class="image-round image-responsive"> </div>
        </div>
        <div class="text-responsive">

        <div class="avatar lg-avatar-size text-round">PP</div>
        <div class="avatar md-avatar-size text-round">PP</div>
        <div class="avatar sm-avatar-size text-round">PP</div>
        <div class="avatar xs-avatar-size text-round">PP</div>
    </div>
    </div>
</body>

</html>