@import "/css/main.css";

.avatar {
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}
.container {
  height: 28rem;
  width: 35rem;
  border: 2px solid var(--universal-border-color);
}

.lg-avatar-size {
  width: 10rem;
  height: 10rem;
  font-size: 3rem;
}

.md-avatar-size {
  width: 6.25rem;
  height: 6.25rem;
  font-size: 2rem;
}

.sm-avatar-size {
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
}

.xs-avatar-size {
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
}

.image-round {
  border-radius: 50%;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.text-round {
  border-radius: 50%;
  background-color: var(--avatar-background-color);
}
.text-responsive {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 0.1rem;
}
