<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toasts</title>
    <link rel="stylesheet" href="toast.css">
</head>

<body>

    <div class="toast-container">

        <div class="success-toast">This is an example of success toast
            <span class="material-icons tmtrl">
                close
            </span>
        </div>
        <div class="warning-toast">This 
            is an example of warning toast
                 <span 
            class="material-icons tmtrl">
                     close
                 </span>
             </div>

        <div class="error-toast">This is an example of error toast
            <span class="material-icons tmtrl">
                close
            </span>

    </div>
</body>

</html>