<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cards.css" />
    <link rel="stylesheet" href="/components/Button//button.css" />
    <title>cards</title>
  </head>
  <body>
    <!-- simple card -->
    <div class="card-wrapper basic-card">
      <div>
        <img
          src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
          class="card-img"
          alt="demo"
        />
        <div class="card-heading">
          Women Stylish Pencil Heel Sandal with Trendy Colour
        </div>
      </div>

      <div class="card-content">
        <div class="product-price">
          <div class="price">&#8377; 699</div>
          <div class="previous-price">&#8377; 1499</div>
        </div>
        <div class="discount">53% off</div>
      </div>

      <div class="card-action">
        <button class="btn btn-primary icon">
          Cart
          <span class="material-icons buttonmi"> shopping_cart </span>
        </button>
        <button class="btn btn-primary icon">
          Wishlist
          <span class="material-icons buttonmi"> favorite_border </span>
        </button>
      </div>
    </div>
    <!-- card with icons -->

    <div class="card-wrapper basic-card">
      <div>
        <img
          src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
          class="card-img"
          alt="demo"
        />
        <span class="card-dismiss">
          <span class="material-icons close-card-icon"> close </span>
        </span>

        <div class="card-heading">
          Women Stylish Pencil Heel Sandal with Trendy Colour
        </div>
      </div>

      <div class="card-content">
        <div class="product-price">
          <div class="price">&#8377; 699</div>
          <div class="previous-price">&#8377; 1499</div>
          <span class="card-badge">
            <div class="trending">
              <span class="material-icons"> trending_up </span>
              Trending
            </div>
          </span>
        </div>
        <div class="discount">53% off</div>
      </div>

      <div class="card-action">
        <button class="btn btn-primary icon">
          Cart
          <span class="material-icons buttonmi"> shopping_cart </span>
        </button>
        <button class="btn btn-primary icon">
          Wishlist
          <span class="material-icons buttonmi"> favorite_border </span>
        </button>
      </div>
    </div>
    <!-- video card-->
    <div class="card-wrapper video-card">
      <div>
        <iframe
          class="iframe-video"
          src="https://www.youtube.com/embed/vX2cDW8LUWk"
        >
        </iframe>

        <h4 class="card-heading">Excuses -AP Dhillon</h4>
      </div>

      <div class="card-action">
        <button class="btn btn-primary icon">
          Know More
          <span class="material-icons buttonmi"> description </span>
        </button>
      </div>
    </div>
  </body>
</html>
