<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
</head>
<body>
    <div class="card">
        <div class="card card-with-badge">
            

        </div>
        <div class="card card-dismiss">


        </div>

        <div class="card card-with-text-overlay">


        </div>


        <div class="card card-with-text-only">

        </div>

        <div class="card card-horizontal">

        </div>

        <div class="card card-vertical">

        </div>

        <div class="card card-with-shadow">

        </div>

    </div>
</body>
</html>