<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>
    <link rel="stylesheet" href="cards.css" />
  </head>

  <body>
    <!-- Horizontal Card -->
    <div class="horizontal-card">
      <img
        class="horizontal-card__image"
        src="https://i.ibb.co/SRn0LwX/icons8-html-5-480.png"
        alt="image"
      />
      <div class="horizontal-card__content">
        <h2 class="horizontal-card__title">HTML Rice</h2>
        <h3 class="horizontal-card__price">$5000</h3>
        <p class="horizontal-card__description">
          This is Rice is purely crafted and grown organically.
        </p>
        <h3 class="horizontal-card__ratings">5 Star</h3>
        <h4 class="horizontal-card__stock">Stock: InStock</h4>
      </div>
      <div  class="horizontal-card__action-button"> 
      <div class="horizontal-card__add-to-cart">
        <button class="btn btn-success icon">
        Cart
        <span class="material-icons buttonmi"> shopping_cart </span>
      </button>
      </div>
      <div class="horizontal-card__add-to-wishlist">
        <button class="btn btn-danger icon">
          Wishlist
          <span class="material-icons buttonmi"> favorite_border </span>
        </button>
      </div>
      </div>
    </div>
    <div class="horizontal-card">
      <!-- <img
        class="horizontal-card__image"
        src="https://i.ibb.co/SRn0LwX/icons8-html-5-480.png"
        alt="image"
      /> -->
      <div class="horizontal-card__content">
        <h2 class="horizontal-card__title">HTML Rice</h2>
        <h3 class="horizontal-card__price">$5000</h3>
        <p class="horizontal-card__description">
          This is Rice is purely crafted and grown organically.
        </p>
        <h3 class="horizontal-card__ratings">5 Star</h3>
        <h4 class="horizontal-card__stock">Stock:No Stock</h4>
        </h4>
      </div>

      <div class="horizontal-card__add-to-cart">
        <button class="btn btn-primary icon" disabled>
          Add to Cart
          <span class="material-icons buttonmi"> shopping_cart </span>
        </button>
      </div>
      <div class="horizontal-card__add-to-wishlist">
        <button class="btn btn-success icon" disabled>
          Add to Wish
          <span class="material-icons buttonmi"> favorite_border </span>
        </button>
      </div>
    </div>

    <!-- Vertical Card -->
    <div class="vertical-card">
      <img
        class="vertical-card__image"
        src="https://i.ibb.co/SRn0LwX/icons8-html-5-480.png"
        alt="image"
      />
      <div class="vertical-card__content">
        <h2 class="vertical-card__title">
          HTML Rice
          <span class="material-icons cardmi" title="Authentic Product">
            check_circle
          </span>
        </h2>
        <h3 class="vertical-card__price">$5000</h3>
        <p class="vertical-card__description">
          This is Rice is purely crafted and grown organically.
        </p>
        <h3 class="vertical-card__ratings">5 Star</h3>
        <h4 class="vertical-card__stock">Stock: InStock</h4>

        <div class="vertical-card__buttons">
          <div class="vertical-card__add-to-cart">
            <button class="btn btn-primary icon">
              Add to Cart
              <span class="material-icons buttonmi"> shopping_cart </span>
            </button>
          </div>
          <div class="vertical-card__add-to-wishlist">
            <button class="btn btn-success icon">
              Add to Wish
              <span class="material-icons buttonmi"> favorite_border </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
