@import "/css/main.css";

.card {
    height: 14rem;
    width: 37rem;
    border: 2px solid var(--universal-border-color);
    margin: 0.5rem;
    /* overflow: auto; */
}

img {
    height: 13rem;
    width: 15rem;
    border: 2px solid var(--universal-border-color);
    margin: 0.3rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}

.card-with-badge,
.btn-icons,
.card-dismiss,
.card-with-text-overlay,
.card-with-text-only,
.card-horizontal {
    display: flex;
}

button {
    height: 2rem;
    margin: 0.3rem 0.3rem 0 0;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn-add-to-cart,
.btn-add-to-wishlist {
    background-color: var(--shopping-card-button-bgcolor);
    color: var(--background-universal-color);
}

.text-light {
    font-size: 0.8rem;
}

.badge-verify {
    position: absolute;
    left: 14rem;
    top: 3.5rem;
    color: green;
    cursor: pointer;
}

.badge-close {
    position: relative;
    left: 35rem;
    top: 3rem;
    color: red;
    cursor: pointer;
}

.card-with-text-overlay {
    opacity: 0.5;
}

.badge-outofstock {
    left: -1rem;
    bottom: -0.2rem;
    color: red;
    cursor: pointer;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5rem;
}

.text-overlay-over-card::after {
    height: 9rem;
    width: 15rem;
    background-color: rgb(126, 134, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Out of Stock';
    background-image: linear-gradient(to right, red, rgb(214, 214, 34));
    font-weight: bold;
    font-size: 2.5rem;
    position: relative;
    top: -10rem;
    right: 5rem;
    opacity: 0.8;
}

.card-vertical,.card-with-shadow {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.vcard {
    height: 26rem;
    width: 16rem;
    border: 2px solid var(--universal-border-color); 
}
.card-with-shadow {
    /* box-shadow: 2px 2px 2px 2px #888484; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}