@import "/css/main.css";
@import "/css//components.css";

/* Horizontal card */
.horizontal-card {
  height: auto;
  width: 15rem;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.3rem;
  text-overflow: clip;
  margin: 1rem;
}
.horizontal-card__image {
  height: 12rem;
  width: 12rem;
  background-color: white;
  border-radius: 0.2rem;
}

.horizontal-card__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.2rem;
}

/* vertical cards */

.vertical-card {
  height: 14rem;
  width: auto;
  max-width: 38rem;
  background-color: tomato;
  display: flex;
  margin: 1rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
}
.vertical-card__image {
  height: 11rem;
  width: 11rem;
  background-color: white;
  margin: 1rem;
  border-radius: 0.4rem;
}
.vertical-card__content {
  margin: 1rem;
}
.vertical-card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.cardmi {
  color: green;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 50%;
}

.cardmi:hover {
  content: "Authentic Product";
  cursor: pointer;
}
.horizontal-card__outofstock {
  height: 4rem;
  width: 10rem;
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: centers;
  font-size: 1.4rem;
  color: red;
}
.vertical-card__stock,
.horizontal-card__stock {
  width: 8rem;
  color: rgb(2, 2, 2);
  font-size: 1.1rem;
  background-color: rgb(255, 47, 220);
}
