/* global css file for icons and fonts */
@import '/css/main.css';

/* main navigation menu class */
.navigation-menu {
    height: 5rem;
    /* width: 100%;
    max-width: 100%; */
    background-color: var(--background-universal-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* left side panel */
.left-side-panel {
    display: flex;
    align-items: center;
}


/* right side panel */
.right-side-panel {
    display: flex;
    /* width: 100%; */
}
/* main material icons class */
.navmtrl {
    font-size: 2rem;
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    /* color: var(--underline-text-color); */
}
/* html5  global input element */
.input-in-nav {
    width: 20rem;
    height: 2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.logo-icon-head{
    height: 4.5rem;
    width: 4.5rem;
    /* display: flex; */
}


