/* global css file for icons and fonts */
@import "/css/main.css";

.navigation-menu {
  height: 4rem;
  width: 100%;
  background-color: rgb(107, 171, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.3rem;
}
.navigation__right {
  margin: 1rem;
}
.navigationmi {
  font-size: 2rem;
  margin: 1rem;
}
.navigation__logo {
  font-size: 1.5rem;
  font-weight: 800;
  background-color: white;
}
.navigation__input {
  border-radius: 0.4rem;
  width: auto;
  height: 2rem;
}
