<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navigation menu</title>
    <link rel="stylesheet" href="nav.css" />
  </head>

  <body>
    <nav class="navigation-menu">
      <div class="navigation__left">
        <div class="navigation__logo">Agri UI</div>
      </div>
      <input type="text" class="navigation__input" placeholder="search item" />
      <div class="navigation__right">
        <span class="material-icons navigationmi"> shopping_cart </span>
        <span class="material-icons navigationmi"> favorite</span>
        <span class="material-icons navigationmi"> account_circle</span>
      </div>
    </nav>
  </body>
</html>
