<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="lists.css">
</head>

<body>
    <!-- This is default list -->
    <div class="list-container">
        <ul>
            <li>Item-1</li>
            <li>Item-2</li>
            <li>Item-3</li>
        </ul>
        <ul class="list-style-circle">
            <li>Item-1</li>
            <li>Item-2</li>
            <li>Item-3</li>
        </ul>
        <ul class="list-style-square">
            <li>Item-1</li>
            <li>Item-2</li>
            <li>Item-3</li>
        </ul>
        <ul class="list-style-none">
            <li>Item-1</li>
            <li>Item-2</li>
            <li>Item-3</li>
        </ul>
    </div>
    <div class="ordered-list-examples">
        <!-- This is default list -->
        <ol>
            <li>List item with numbers</li>
            <li>List item with numbers</li>
            <li>List item with numbers</li>
        </ol>
        <ol class="list-style-decimal-leading-zero">
            <li>List item with numbers</li>
            <li>List item with numbers</li>
            <li>List item with numbers</li>
        </ol>
        <ol class="list-style-lower-alphabets">
            <li>List item with lower alphabets</li>
            <li>List item with lower alphabets</li>
            <li>List item with lower alphabets</li>
        </ol>
        <ol class="list-style-upper-alphabets">
            <li>List item with upper alphabets</li>
            <li>List item with upper alphabets</li>
            <li>List item with upper alphabets</li>
        </ol>
        <ol class="list-style-lower-roman">
            <li>List item with lower roman</li>
            <li>List item with lower roman</li>
            <li>List item with lower roman</li>
        </ol>
        <ol class="list-style-upper-roman">
            <li>List item with upper roman</li>
            <li>List item with upper roman</li>
            <li>List item with upper roman</li>
        </ol>



    </div>
</body>

</html>