/* universal css sheet for icons and fonts */
@import '/css/main.css';

/* main rating components */
.star-rating,
.rating
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 5rem;
    width: 25rem;
    background-color: var(--background-universal-color);
}

/* material icon for icons */
.material-icons {
    font-size: 2rem;
    cursor: pointer;
}

/* different type of ratings */
.good-rating {
    color: green;
}

.bad-rating {
    color: red;
}

.average-rating {
    color: orange;
}

.star-ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 5rem;
    width: 25rem;
    background-color: var(--background-universal-color);
}

.checked {
    color: yellow;
}