<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rating</title>
    <link rel="stylesheet" href="rating.css">
</head>

<body>
    <div class="rating-container">
        <div class="good-rating" title="Good"><span class="material-icons">
                mood
            </span></div>
        <div class="average-rating" title="Average"><span class="material-icons">
                sentiment_satisfied
            </span></div>
        <div class="bad-rating" title="Bad"> <span class="material-icons">
                mood_bad
            </span></div>
</div>
<div class="star-ratings">
        <div class="star-rating checked"> <span class="material-icons checked">
                star
            </span></div>


        <div class="star-rating checked"><span class="material-icons">
                star
            </span>
        </div>
        <div class="star-rating checked"><span class="material-icons">
                star
            </span>
        </div>
        <div class="star-rating"><span class="material-icons">
                star_border
            </span>
        </div>
        <div class="star-rating"><span class="material-icons">
                star_border
            </span>
        </div>
    </div>
</div>

</body>

</html>