<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Badges</title>
        <link rel="stylesheet" href="badge.css">
</head>

<body>

        <div class="avatar">
                <!-- large image with  online badge -->
                <div class="avatar lg-avatar-size  badge-status"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                                class="image-round image-responsive"><img />
                        <span class=" badge lg-badge badge-online"></span>
                </div>
                <!-- medium image with  offline badge -->
                <div class="avatar md-avatar-size badge-status"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                                class="image-round image-responsive"><img />
                        <span class=" badge md-badge badge-offline"></span> </div>
                <!-- small image with  ready badge -->
                <div class="avatar sm-avatar-size badge-status"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                                class="image-round image-responsive"><img />
                        <span class=" badge sm-badge badge-away"></span></div>
                <!-- extra small image with  blue badge -->
                <div class="avatar xs-avatar-size badge-status"> <img src="/images/scorpio-sign.jpg" alt="avatar"
                                class="image-round image-responsive"><img />
                        <span class=" badge xs-badge badge-offline"></span></div>
        </div>

        <div class="badge-numbers">
                <div class="call">
                        <span class="material-icons">
                                call
                        </span>
                </div>
                <span class="number-badge lg-number-badge"></span>

                <div class="email"> 
                        <span class="material-icons">
                                email
                        </span>
                </div>


                <span class="number-badge md-number-badge"></span>

                <div class="shopping-bag"> 

                        <span class="material-icons">
                                shopping_bag
                        </span>

                </div>

                <span class="number-badge sm-number-badge"></span>
        </div>

        <div>
















        </div>

</body>

</html>