<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link rel="stylesheet" href="badge.css">
</head>
<body>
    
    <div class="avatar lg-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
        class="image-round image-responsive"><img/> </div>
<div class="avatar md-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
        class="image-round image-responsive"><img/> </div>
<div class="avatar sm-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
        class="image-round image-responsive"><img/> </div>
<div class="avatar xs-avatar-size"> <img src="/images/scorpio-sign.jpg" alt="avatar"
        class="image-round image-responsive"><img/></div>
</div>
<div class="text-responsive">
</body>
</html>