@import '/css/main.css';

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;


}

/* Modal Content */
.modal-content {
  background-color:var(--background-universal-color);
  margin: auto;
  padding: 14px;
  border: 1px solid var(--silver-color);
  width: 28%;
  background: var(--tomato-color);
}

/* The Close Button */
.close {
  color: var(--red-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -4px;
}

.close:hover,
.close:focus {
  color: var(--dark-black-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-btn {
  height: 3rem;
  width: 10rem;
  margin: 0.2rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}