<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="alerts.css">
</head>

<body>
    <!-- <div class="alert"> -->
        <div class="alert primary-alert">A primary alert example with a text link. <span class="link link-active">Check
                it out</a><span></div>
        <div class="alert secondary-alert">A secondary alert example.</div>
        <div class="alert success-alert"><span class="m material-icons">check_circle</span>A success alert example.
        </div>
        <div class="alert danger-alert"><span class="m material-icons">dangerous</span>A danger alert example.</div>
        <div class="alert warning-alert"><span class="m material-icons">warning</span> A warning alert example.</div>
    <!-- </div> -->
</body>
</html>